<%= render "/header" %>
<div class="title-box">
    <div class="title-left">
        <%= link_to "新規作成",new_category_content_path,class: "new-button" %>
        <%= link_to "戻る",categories_path,class: "back-button" %>
        <%= link_to "編集",edit_category_path(params[:category_id]),class: "edit-button" %>
    </div>
    <div class="title-right">
        <h1><%= @category.name %></h1>
    </div>
</div>
<div class="contents-box">
    <% @contents.each do |content| %>
        <div class="content">
            <%= link_to content.name, category_content_path(params[:category_id],content.id),class:"link"%>
        </div>
    <% end %>
</div>
<br>
<br>
<br>
<br>

<style>
    h1{
        text-align:center;
        line-height:200px;
    }
    .contents-box{
        width:100%;
        height:auto;
    }
        .content{
        width:18%;
        float:left;
        margin:1%;
        background:white;
        font-size:30px;
        color:white;
        text-align:center;
        height:150px;
        line-height:150px;
        box-sizing:border-box;
    }
    .link{
        text-decoration:none;
        color:black;
        display:inline-block;
        height:150px;
        border:2px gray solid;
        width:100%;
        border-radius:10px;
    }
    .link:hover{
        background:skyblue;
        border-radius:10px;
        border:none;
    }
    .content>p{
        color:white;
    }
    .title-box{
        height:250px;
    }
    .title-left{
        width:5%;
        height: auto;
        float:left;
    }
    .new-button{
        width:50%;
        background:red;
        font-size:30px;
        color:white;
        padding:1%;
         -ms-writing-mode: tb-rl;
	    writing-mode: vertical-rl;
	    text-decoration: none;
    }
    .back-button{
        width:50%;
        background:blue;
        font-size:25px;
        color:white;
        padding:1%;
         -ms-writing-mode: tb-rl;
	    writing-mode: vertical-rl;
	    text-decoration: none;
    }
    .edit-button{
        width:50%;
        background:green;
        font-size:25px;
        color:white;
        padding:1%;
         -ms-writing-mode: tb-rl;
	    writing-mode: vertical-rl;
	    text-decoration: none;
    }
</style>