<%= render "/header" %>
<h1><%= @content.name %></h1>
<%= markdown(@content.text).html_safe %>
<% if @content.file.present? %>
  <%= link_to "ダウンロード", download_category_content_path(params[:category_id],params[:id]) %>
<% end %>
<% if @content.file.url %>
    <a href="<%= image_url(@content.file.url) %>" target="_blank"><object data="<%= image_url(@content.file.url) %>" type="application/pdf"></object></a>
<% end %>
<br>
<%= link_to "もどる",category_contents_path(params[:category_id]),class: "button" %>